<a href="https://colab.research.google.com/github/aanwar5/Data_Analytics_Python_Test/blob/master/Basic_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install seaborn

Requirement already satisfied: seaborn in /usr/local/lib/python3.6/dist-packages (0.10.1)
Requirement already satisfied: matplotlib>=2.1.2 in /usr/local/lib/python3.6/dist-packages (from seaborn) (3.2.2)
Requirement already satisfied: scipy>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from seaborn) (1.4.1)
Requirement already satisfied: pandas>=0.22.0 in /usr/local/lib/python3.6/dist-packages (from seaborn) (1.0.5)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from seaborn) (1.18.5)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.1.2->seaborn) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.1.2->seaborn) (1.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.1.2->seaborn) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.1.2->seaborn) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.22.0->seaborn) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from cycler>=0.10->matplotlib>=2.1.2->seaborn) (1.15.0)

In [3]:
from __future__ import absolute_import, division, print_function, unicode_literals
import pathlib 

import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

import tensorflow as tf 
from tensorflow import keras
from tensorflow.keras import layers
print(tf.__version__)

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

2.3.0

In [4]:
dataset_path = keras.utils.get_file("auto-mpg.data-original", "https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data-original")
dataset_path

Downloading data from https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data-original
32768/32149 [==============================] - 0s 4us/step

'/root/.keras/datasets/auto-mpg.data-original'

In [5]:
column_names =['MPG', 'Cylinders', 'Displacement', 'Horsepower', 'Weight', 'Acceleration', 'Model Year', 'Origin']
raw_dataset = pd.read_csv(dataset_path, names=column_names, na_values = "?", comment ='\t',sep =' ', skipinitialspace = True )

dataset = raw_dataset.copy()
dataset

      MPG  Cylinders  Displacement  ...  Acceleration  Model Year  Origin
0    18.0        8.0         307.0  ...          12.0        70.0     1.0
1    15.0        8.0         350.0  ...          11.5        70.0     1.0
2    18.0        8.0         318.0  ...          11.0        70.0     1.0
3    16.0        8.0         304.0  ...          12.0        70.0     1.0
4    17.0        8.0         302.0  ...          10.5        70.0     1.0
..    ...        ...           ...  ...           ...         ...     ...
401  27.0        4.0         140.0  ...          15.6        82.0     1.0
402  44.0        4.0          97.0  ...          24.6        82.0     2.0
403  32.0        4.0         135.0  ...          11.6        82.0     1.0
404  28.0        4.0         120.0  ...          18.6        82.0     1.0
405  31.0        4.0         119.0  ...          19.4        82.0     1.0

[406 rows x 8 columns]

In [6]:
dataset.isna().sum #seeing which values have unwanted entries

<bound method DataFrame.sum of        MPG  Cylinders  Displacement  ...  Acceleration  Model Year  Origin
0    False      False         False  ...         False       False   False
1    False      False         False  ...         False       False   False
2    False      False         False  ...         False       False   False
3    False      False         False  ...         False       False   False
4    False      False         False  ...         False       False   False
..     ...        ...           ...  ...           ...         ...     ...
401  False      False         False  ...         False       False   False
402  False      False         False  ...         False       False   False
403  False      False         False  ...         False       False   False
404  False      False         False  ...         False       False   False
405  False      False         False  ...         False       False   False

[406 rows x 8 columns]>

In [13]:
dataset.dropna() #deleting all NA values

                      MPG Cylinders  ...    Model Year  Origin
13  <address>Apache/2.4.6  (CentOS)  ...  Perl/v5.16.3  Server

[1 rows x 8 columns]

In [7]:
origin = dataset.pop('Origin')
dataset['USA'] = (origin ==1)*1.0
dataset['EUR'] = (origin ==2)*1.0
dataset['Japan'] = (origin ==3)*1.0
dataset.tail()

      MPG  Cylinders  Displacement  Horsepower  ...  Model Year  USA  EUR  Japan
401  27.0        4.0         140.0        86.0  ...        82.0  1.0  0.0    0.0
402  44.0        4.0          97.0        52.0  ...        82.0  0.0  1.0    0.0
403  32.0        4.0         135.0        84.0  ...        82.0  1.0  0.0    0.0
404  28.0        4.0         120.0        79.0  ...        82.0  1.0  0.0    0.0
405  31.0        4.0         119.0        82.0  ...        82.0  1.0  0.0    0.0

[5 rows x 10 columns]